{% extends "student_base.html" %}
{% load static %}

{% block title %}My Courses{% endblock %}

{% block content %}
<h1>My Courses</h1>
<div id="courses-list"></div>
<script>
    const studentData = JSON.parse(sessionStorage.getItem('loggedStudent'));
    if (studentData) {
        const coursesDiv = document.getElementById("courses-list");
        coursesDiv.innerHTML = `
            <ul>
                ${studentData.courses.map(course => `<li>${course}</li>`).join('')}
            </ul>
        `;
    }
</script>
{% endblock %}
